/* Wedding-style homepage */
.home-page {
  font-size: 20px;
  font-family: 'Great Vibes', 'Dancing Script', 'Pacifico', cursive;
	color: linear-gradient(135deg, #00ff7f, #ff1493);
  background-color: whitesmoke;
  text-align: center;
  padding: 40px;
  min-height: 10vh;
}

/* Optional: add this if you want gradient text */
.gradient-text {
  background: linear-gradient(135deg, springgreen, deeppink);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'Great Vibes', cursive;
  font-size: 48px;
}
.h1,.h2{
  font-size:38px;
}
